form {
  margin: 20px auto;
}

h1 {
  color: red;
  margin-top: 10px;
}

h2 {
  color: blue;
  font-size: 15px;
  margin: 0 auto;
  font-weight: lighter;
}


button {
  font-size: 15px;
  background: yellow;
  border: 2px solid #003366;
  color: #000000;
  border-radius: 10px;
}

body {
  background: lightcyan;
}

img.weatherIcon {
  width: 100px;
  background: rgb(73, 170, 170);
  border: 2px solid #003366;
  border-radius: 10px;
}

a.active {
  text-decoration: none;
  color: black;
  cursor: default;
}

.place {
  list-style: none;
  padding-left: 0px;
  color: blue;
}

.container {
  background: rgb(243, 243, 239);
  width: 1000px;
  border: 2px solid #003366;
}

.cities {
  padding: 0;
}

.popular.cities {
  list-style: none;
  display: inline-block;
  font-size: 25px;
  font-weight: 300;
  padding: 0 20px 0 0;
}

.forecast {
  right: 500px;
  top: 20px;
}

.days {
  margin: 10px;
  padding: 0 10px;
  list-style: none;
  right: 500px;
  top: 30px;
  font-size: 30px;
}


#currentTemp {
  color: blueviolet;
  font-size: 40px;
  font-weight: bold;
}

#about-me {
  padding-top: 15px;
  font-size: 20px;
  color:#003366;
}

#after-temp {
  font-size: 15px;
}