form {
  margin: 20px auto;
}

h1 {
  color: #046ABE;
  margin-top: 10px;
}

h2 {
  color:#046ABE;
  font-size: 15px;
  margin: 0 auto;
  font-weight: lighter;
}


button {
  font-size: 15px;
  background: #F4DFB0;
  border: 2px solid #8086A8;
  color: #046ABE;
  border-radius: 10px;
  padding: 5px 15px;
}

body {
  background-image: url("https://images.unsplash.com/photo-1464290109611-fe29ef5669c9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80");
}


a.active {
  text-decoration: none;
  color: black;
  cursor: default;
}

.place {
  list-style: none;
  padding-left: 0px;
  color: #046ABE;
}

.container {
  background: #E0E8EB;
  width: 1000px;
  border: 20px solid #046ABE;
  border-radius: 20px;
  padding: 20px 30px;
  margin-top: 40px;
}

.popular.cities {
  list-style: none;
  display: inline-block;
  font-size: 25px;
  font-weight: 300;
  padding: 0 20px 0 0;
}

.forecast {
  right: 500px;
  top: 20px;
  font-size: 22px;
  color: #046ABE;
}

#weather-forecast {
  font-size: 20px;
  color: #000;
}

#weather-description {
  padding-left: 10px;
}

.weather-humidity {
  padding-left: 10px;
}

.weather-wind {
  padding-left: 10px;
}


#currentTemp {
  color: #222222;
  font-size: 40px;
  font-weight: bold;
  padding-left: 10px;
}


#about-me {
  padding-top: 50px;
  font-size: 10px;
  color:#003366;
  text-align: left;
}

#after-temp {
  font-size: 15px;
}